# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
OpenGLClient/Debug/
OpenGLClient/OpenGLClient/Debug/
OpenGLClient/OpenGLClient.opensdf
OpenGLClient/OpenGLClient.sdf
OpenGLClient/OpenGLClient.v11.suo
